<header class="py-2 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Secretaria</h1>
      </div>
    </div>
  </div>
</header>
<div *ngIf="isData===true">
<section id="secretaria" class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <form>
          <div class="form-group">
            <label for="dni" class="col">Ingrese el DNI del Paciente</label>
              <div class="row">
            <input id="dni" type="number" placeholder="DNI Paciente" name="dni" class="col form-control w-50" [(ngModel)]="dni" required/>
            <input type="submit" class="col btn btn-primary btn-sm ml-3" value="Turno" (click)="onTurno()">
        </div>
        </div>
        </form>
        
        <div *ngIf="nuevoTurno">
          <div class="row py-3">
            <div class="col p-2 text-center rounded alert-danger">El paciente no tiene turno activo</div>
            <a routerLink="/agregar/turno" routerLinkActive="router-link-active" class="col btn btn-secondary ml-3" >Agregar Turno</a>
          </div>
        </div>

        <div *ngIf="buscar">
        <div class="row py-3">
          <div class="col p-2 text-center rounded alert-danger">El paciente Presenta un turno activo</div>
        </div>
        <div class="row py-3">
          <a routerLink="/turnos/{{modificarTurno}}" routerLinkActive="router-link-active" class="col btn btn-secondary ml-3">Modificar Turno</a>
          <a class="col btn btn-light ml-3" (click)="onAsistencia()">Marcar Asistencia</a>
        </div>
      </div>

      <div *ngIf="nuevoPaciente">
        <div class="row py-3">
          <div class="col p-2 text-center rounded alert-danger">La Persona no se encuentra registrado</div>
          <a routerLink="/pacientes/agregar" routerLinkActive="router-link-active" class="col btn btn-secondary ml-3">Agregar Paciente</a>
        </div>
      </div>
      
      <div [hidden]="!asistencia">
        <div class="row py-3">
        <div class="col p-2 text-center rounded bg-success text-white" #mensaje></div>         
      </div> 
      </div>

      </div>
    </div>
  </div>
</section>

<section id="turnos" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <header class="card-header">
            <h2 class="card-title">
              Turnos
            </h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-lg">
              <thead class="thead-dark">
                <tr>
                  <th>Turno</th>
                  <th>DNI del Paciente</th>
                  <th>Nombre</th>
                  <th>Personal Asignado</th>
                  <th>Asistencia</th>
                  <th>fecha</th>
                </tr>
                
                <tr *ngFor="let item of turnos,let i=index">
                  <td *ngIf="!buscar">{{item.turno}}</td>
                  <td *ngIf="!buscar">{{getPaciente(item.paciente).dni}}</td>
                  <td *ngIf="!buscar">{{getPaciente(item.paciente).nombre}}  {{getPaciente(item.paciente).apellido}}</td>
                  <td *ngIf="!buscar">{{getPersonal(item.personalAsignado).nombre}}</td>
                  <td *ngIf="!buscar">{{item.asistencia}}</td>
                  <td *ngIf="!buscar">{{item.fecha}}</td>
                </tr>
                <tr>
                  <td *ngIf="buscar">{{onTurno().turno}}</td>
                  <td *ngIf="buscar">{{getPaciente(onTurno().paciente).dni}}</td>
                  <td *ngIf="buscar">{{getPaciente(onTurno().paciente).nombre}}</td>
                  <td *ngIf="buscar">{{getPersonal(onTurno().personalAsignado).nombre}}</td>
                  <td *ngIf="buscar">{{onTurno().asistencia}}</td>
                  <td *ngIf="buscar">{{onTurno().fecha}}</td>

                </tr>
              </thead>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>